/**
  You can only use the following style.

  - color, font-family, font-style
  - text-shadow
  - background-*

  Example:
    font-family: "微软雅黑", "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, sans-serif !important;
    text-shadow: 0 1px rgba(0, 0, 0, .8);
    background-image: url('wood.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
*/

editor {
    font-family:  Helvetica, sans-serif,"微软雅黑", "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS" !important;
    text-shadow: 0 1px rgba(0, 0, 0, .8);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
linenumber {
}
activeline {}

/*
  You can only use the following style.

  - color, font-family, font-style
  - text-shadow

  Example:
    color: #adadad;
    font-style: bold;
    text-shadow: 0 1px rgba(0, 0, 0, .8);
*/
header {
  color: #F5F57C;
  font-family: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
}
code {
  color: #AE81FF;
}
blockquote {
  color: red;
}
li1 {
  color: #32D9CB;
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
}
li2 {
  color: #24ABC9;
}
li3 {
  color: #92C2BB;
}
hr {}
img {}
a {
  color: #C342FF;
}
em {}
i {}
strong {
  font-style: bold;
}